
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white; 

  padding: 0;
  min-height: 100vh;

  background-image: url(images/hoi4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* --------Header-------- */

header {  
  position: sticky;
   top: 0;
  z-index: 100;
  
  padding: 12px 20px;
  background: #a43131;
}

.nav-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 1.2rem;
}

.nav-left img{
  width: 28px;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;

  padding: 0;
  margin: 0;
}

nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* --------Layout-------- */
.layout {
  display: flex;
  padding: 20px;
  gap: 40px;
}

/* --------Sidebar-------- */
.sidebar {
  width: 120px;
  background: rgba(190, 28, 28, 0.1);
  padding: 10px;
}

.side-box {
  background: lightgray;
  border-radius: 8px;
}

.side-box.large {
  height: 120px;
}

.side-box.small {
  height: 60px;
}

/* --------Main Content-------- */
.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

.grid {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;

  gap: 36px;
  width: 90%;
  max-width: 1200px;
}

.card {
  background: lightgray;
  border-radius: 20px;
  height: 100px;
  width: 100%;
  min-height: 90px;
  min-width: 220px;
}

.center {
  grid-column: span 2;
  width: 70%;
  justify-self: center;
  height: 120px;
  min-height: 110px;
  min-width: 320px;
}

@media (max-width: 720px) {
  .layout {
    flex-direction: column;
    gap: 20px;
    padding: 15px;
  }

  .sidebar {
    width: 100%;
  }

  .content {
    padding-top: 20px;
  }

  .grid {
    width: 100%;
    gap: 20px;
    grid-template-columns: 1fr;
  }

  .center {
    width: 100%;
    grid-column: auto;
  }

  .card {
    min-width: auto;
  }
}

.top-left {
  justify-self: start;
}

.top-right {
  justify-self: end;
}

.bottom-left {
  justify-self: start;
}

.bottom-right {
  justify-self: end;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.2s;
}